* {
  margin: 0;
  padding: 0;
}

/* common styles */

body {
  max-width: 100vw;
  min-width: 100vw;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background-color: #F6F6F6;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-size: 2.9rem;
  font-weight: 900;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 15px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #111;
}

.btn {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 25px;
  border: none;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #1B8BD9;
  color: #fff;
}

.dark-btn {
  color: #fff;
  background-color: #111;
  font-weight: bolder;
  width: 80%;
}

.dark-btn:hover {
  cursor: pointer;
}

.social-media-icon {
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
}

/* common styles end */

/* header */
header {
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

header .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

nav {
  padding: 30px 0px;
  position: fixed;
  display: flex;
  top: 0;
  left: 10%;
  z-index: 999;
  width: 80%;
}

nav div {
  flex-grow: 1;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-right i {
  border: 2px solid #1B8BD9;
  margin-right: 7px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-icon {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

/* header-part ends */

/* second section */
.second-div {
  background-image: url('../img/confetti.png');
  background-position: center;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.second-div .container {
  display: flex;
}

.sd-left {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sd-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.sd-right img {
  width: 80%;
  z-index: -10;
}

/* second section ends */

/* third section */
.third-div .container {
  display: flex;
  text-align: center;
}

.third-div div {
  padding: 20px;
}

.third-div img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  margin-bottom: 20px;
}

/* third div ends */

/* fourth div */
.fourth-div .container {
  display: flex;
}

.fourth-div img {
  width: 100%;
}

.fd-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.fd-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}


.polaroid-back {
  background-color: #fff;
  padding: 10px;
  transform: rotate(7deg);
  max-width: 300px;
  position: absolute;
}

.polaroid-front {
  background-color: #fff;
  padding: 10px;
  transform: rotate(-7deg);
  max-width: 300px;
  position: relative ;
  top: 0;
  text-align: center;
}

/* fourth div ends */

/* footer */
footer .container {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
  border-bottom: 2px solid #fff;
}

.footer-top .logo {
  font-family: cursive;
  font-size: 1.5rem;
}

.footer-top .social-media-icons {
  display: flex;
}

.footer-top i {
  border: 2px solid #1B8BD9;
  margin-right: 7px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-middle {
  padding: 30px 0px;
  border-bottom: 2px solid #fff;
}

.footer-middle ul{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-bottom {
  text-align: center;
  padding: 30px 0px;
  border-bottom: 2px solid #fff;
  font-size: 1.5rem;
}

/* footer ends */

@media(max-width: 992px) {
  .second-div .container {
    flex-direction: column;
    align-items: center;
  }

  .sd-right img {
    width: 100%;
  }

  .third-div .container {
    flex-direction: column;
  }
  
  .fourth-div .container {
    flex-direction: column;
  }
}

@media(max-width: 596px) {
  .donuts-btn {
    display: none;
  }
}